[submodule "bankForAllBackEnd"]
	path = bankForAllBackEnd
	url = git@github.com:pleaseworkibegyou/bankForAllBackEnd.git
[submodule "bankForAllFrontEnd"]
	path = bankForAllFrontEnd
	url = git@github.com:pleaseworkibegyou/bankForAllFrontEnd.git
