# mongodb

# docker env development
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example


DB_CONNECT=mongodb://root:example@localhost:27017/

SESSION_SECRET=jlkdjFLKDSJFOJlkj24llfJDS # session

## JWT --------
JWT_SECRET=JFKLDSJFoihio2nrkflnjdSJKLFjfsjdlfj

# Eg: 60, "2 days", "10h", "7d". A numeric value is interpreted as a seconds count. If you use a string be sure you provide the time units (days, hours, etc), otherwise milliseconds unit is used by default ("120" is equal to "120ms").
JWT_TOKEN_EXPIRES_IN=1d